header {
    background-color: #9a069fc0;
    color: white;
    padding: 10px;
    text-align: left;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    /*margin: 0;*/
}
h2 {
    color: #333;
}
h3 {
    color: #555;
}
.container {
    padding: 20px;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}   
.target_value {
    display: none;
    /* margin-top: 10px; */
    /* padding: 10px; */
    background-color: #f0f0f0;
}

.hide {
    display: inline-block;
    padding: 7px 20px;
    background-image: url('../img/noise.gif');
    color: white;
    cursor: pointer;
}